# 🔹Puerto
PORT=3000

## 🔹Configuración de Autentic Sign

# 🔹Endpoints Autentic
AUTH_URL=
SIGNING_URL=
AUTENTIC_API_BASE=
END_POINT_API_GET_FILE=

# 🔹Configuración Autentic
AUDIENCE=
GRANT_TYPE=client_credentials
CLIENT_ID=
CLIENT_SECRET=

# 🔹Configuración de firma
ENTERPRISE_ID=
SENDER_EMAIL=
SENDER_IDENTIFICATION=

## 🔹Configuración de la API de HubSpot
CLIENT_ID_HUBSPOT=
CLIENT_SECRET_HUBSPOT=
END_POINT_GET_TOKEN_API_HUBSPOT=
SCOPE=
REFRESH_TOKEN_HUBSPOT=

# 🔹Configuraciones BD

# 🔹Configuración DB Local
# MONGO_URI=mongodb://host.docker.internal:27017
# MONGO_DB=AutenticSign

# 🔹Configuración DB PROD
MONGO_URI=
MONGO_DB=
USER_DB=
PASSWORD_DB=

# 🔹Configuración App Azure Entra ID
CLIENT_SECRET_AD=
CLIENT_ID_AD=
TENANT_ID_AD=
GRAPH_SCOPE=

# 🔹Nombre de la imagen en Docker Hub
IMAGEN_NAME=